<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
             {% block title %}
               Django App
            {% endblock  %}
        </title>

        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'js/main.js' %}" defer></script>
    <style>

    </style>
</head>

<body>
    <nav>
        {% if user.is_authenticated %}

            <a href="/home"><span role="img" aria-label="Home" title="Home"></span> |🏠|</a>
            <a href="/about"><span role="img" aria-label="About" title="About"></span> |😊About|</a>
            <a href="{% url 'posts:list' %}"><span role="img" aria-label="Posts" title="Posts"></span> | 📰 Posts|</a>
            <a href="/contact"><span role="img" aria-label="Contact" title="Contact"></span> |📞 Contact|</a>
            <a href="{% url 'posts:new-post' %}"><span role="img" aria-label="New Post" title="New Post"></span> |🆕 post |</a>
            <form class="logout" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                <button class="logout-button" aria-label="User Logout" title="User Logout">|👋|</button>
            </form>

<!-- Login and register page -->
        {% else %}
            <a href="{% url 'users:register' %}"><span role="img" aria-label="User Registration" title="User Registration"></span> |®️Rigister |</a> |
            <a href="{% url 'users:login' %}"><span role="img" aria-label="User login" title="User login"></span> | 🔒Login |</a> |

        {% endif %}
    </nav>

    <main>
      {% block content %}
      {% endblock %}
    </main>

</body>
</html>