{% extends "base.html" %}

{% block title %}
     Contact 
{% endblock  %}


{% block content %}
<body style="background-color: lightblue;">
<h2>It's about us</h2>
<p> Contact Us

We love hearing from our readers! If you have any questions, comments, or ideas to share, feel free to reach out.<br>
    Whether it's feedback, collaboration opportunities, or simply to say hello, we're here to listen.<br>

You can contact us via email at :<span style="color: #DC143C;">mahibanavath054@gmail.com</span>, or you can fill out the form below, and we'll get back to you as soon as possible.<br>

Stay connected and thank you for visiting!</p>
{% endblock %}
