{% extends "base.html" %}

{% block title %}
     Home
{% endblock  %}


{% block content %}
<body style="background-color: #E0FFFF;">
    <h1> --🏠--</h1>
    <p> My dear Blog</p>
    <br>
<p style="color:#90EE90"> User please create  Your Registrations and latter Login in website</p><br>
<p> Creating an "About" page for a blog is essential because it introduces you, your mission, and the purpose of your blog to your readers.<br>
    An engaging "About" page helps establish a connection with your audience and builds trust. <br>
    Here's a breakdown of the key elements to include when creating an "About" section for your blog: </p>
    <p style="color: #FF6347" align="left"> The app is developed by Banavath Mahendher </p><br>

{% endblock %}

